# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

